﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Школа танцев</title>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var user,pass;
        $("#submit").click(function(){
          user='Usename';
          $.post("http://localhost:8080/like",{user: user}, function(data){
            if(data==='done')
              {
                alert("login success");
              }
          });
        });
      });
    </script>
	
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/slider.css">
</head>
<body>
<div id="wrapper">
<header>
	<div class="flex-container"><img src="../../images/sign.png" width="120" height="120" alt="Dance"><span>Школа танцев</span></div>
	<div><a href="/main">ГЛАВНАЯ</a> | <a href="/timetable">РАСПИСАНИЕ</a> | <a href="/styles">СТИЛИ ТАНЦЕВ</a> | <a href="/pricelist">ЦЕНЫ</a> | <a href="/contacts">КОНТАКТЫ</a></div>
</header>

<%- body -%>

<footer>
	<div><a href="/contacts">Контакты</a> | <input type="image" id="submit" src="../../images/thumbup.png" width="15" height="15" alt="Dance"></div>
	<div>Copyright Ekaterina Evtukhova 2015</div>
</footer>
</div>
</body>
</html>