<!DOCTYPE html>
<html>
<head>
	<title>Построитель сетей Петри</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jsPlumb-1.3.16-all-min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/node.css" />
	
	<script type="text/javascript" src="/js/nodes.js"></script>
	
	<script type="text/javascript">
	function checkDigits(input) {
		input.value = input.value.replace(/[^\d]/g, '');
	};
	function checkLetters(input) {
		input.value = input.value.replace(/[^udrlfsm]/g, '');
	};
	</script>
    
</head>
<body>
            
	<div id="demo-flowchart" style="width:100%;margin-top:-4px;">
		<!-- the node palette -->
		<div id="node-palette">
			<ul>
				<li id="question" title="Drag to add new">
					<div class="button_add_position">Позиция</div>
				</li>
				<li id="action" title="Drag to add new">
					<div class="button_add_transition">Переход</div>
				</li>
				<li id="saver">
					<div class="saveButton">Конвертировать в JSON</div>
				</li>
				<li id="loader" style="display: none;">
					<div  class="saveButton">Load</div>
				</li>
			</ul>
			<div><p align="center">Справка</p>
			<p align="center">Кнопки:</p>
			<p>A - добавить содинения</p>
			<p>R - удалить объект</p>
			<p align="center">Типы переходов:</p>
			<p>f - обычное движение</p>
			<p>m - перестроение</p>
			<p>u - движение вперед</p>
			<p>s - оставновка</p>
			<p>r - перестроение вправо</p>
			<p>l - перестроение влево</p>
			</div>
			
			<div class="position" style="left: 20px; display: none;" id="positionTemplate">
				<div class="button_container_position">
					<div class="button_add">A</div>
					<div class="button_remove">R</div>
					<div class="input_field" style="display: none;"><input onkeyup="return checkDigits(this);" 
						onchange="return checkDigits(this);" type="text" style="width: 34px;"></div>
				</div>
			</div>
			
			<div class="transition" style="left: 20px; display: none;" id="transitionTemplate">
				<div class="button_container_transition">
					<div class="button_add">A</div>
					<div class="button_remove">R</div>
					<div class="input_field_tr"><input onkeyup="return checkLetters(this);" 
						onchange="return checkLetters(this);" type="text" style="width: 17px;"></div>
				</div>
			</div>
		</div>

		<!-- this is the main drawing area -->
		<div id="demo-canvas">
			
			<!-- Adds new windows to the page -->
			<!--
			<div class="node" style="left: 600px" id="details">
				<p style="text-align: center">Window</p>
				<div class="button_container">
					<div class="button_add_window">Add</div>
				</div>
			</div>
			-->
			<!-- Primary window - used as html templated for descendants -->
			<!--
			<div class="node" style="left: 20px" id="container0">
				<div class="button_container">
					<div class="button_add">Add</div>
					<div class="button_remove">Remove</div>
				</div>
			</div>
			-->

			
		</div>

	</div>
	
	<textarea id="jsonOutput" style="width:100%;height:100px;"></textarea>

</body>
</html>
