<div id="mainPage">
<h2>Школа танцев в Москве</h2>

<div class="wrapper-slider">
	<input type="radio" name="point" id="slide1" checked>
	<input type="radio" name="point" id="slide2">
	<input type="radio" name="point" id="slide3">
	<input type="radio" name="point" id="slide4">
	<input type="radio" name="point" id="slide5">
	<div class="slider">
		<div class="slides slide1"></div>
		<div class="slides slide2"></div>
		<div class="slides slide3"></div>
		<div class="slides slide4"></div>
		<div class="slides slide5"></div>
	</div>	
	<div class="controls">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
		<label for="slide4"></label>
		<label for="slide5"></label>
	</div>
</div>

<div>Школа танцев предлагает Вам массу возможностей для усовершенствования фигуры.</div>

<div>Учитесь гармонично двигаться под музыку с нашими лучшими педагогами. Найдите со своим телом общий язык. Поймите каждую клеточку своего тела. Вы знаете, чего она желает. Ваше тело хочет раскрепоститься. Сделать – это можно только под лучшую музыку, ее предлагает школа танцев в Москве.</div>

<div>Все ваши пожелания будут соблюдены. Если вы пока не знаете, чем желаете заниматься, то опытные педагоги вам обязательно подскажут. В школе танцев в Москве - лучшие педагоги, которые прошли долгое обучение.</div>

<div>Школа танцев в Москве для начинающих и уже состоявшихся танцоров, предлагает в ассортименте танцевальные стили. Классический или Jazz Modern, может Break Dance или, например Hip Hop - каждому танцу вы сможете научиться в стенах нашего учебного заведения.</div>

<div>В наших стенах проходят не только уроки, но так же фестивали, соревнования. А еще создаем флэшмобы для самых популярных проектов города Москвы и не только столицы.</div>

<div>Размеры танцевальных залов от 80 кв. метров. В каждом классе установлены кондиционеры, а также вентиляция. Созданы уютные раздевалки - женская и мужская, каждая более 15 квадратных метров.</div>

<div>Мы заботимся об уюте своих учеников. Поэтому предусмотрели комнату отдыха, где можно спокойно отдохнуть перед занятиями или после них.</div>

<h3>Несомненные плюсы</h3>
<img class="center" src="../images/dance-girl.jpg" alt="Dance">
<ul>
	<li>Современная хореография преподается недалеко от центра города Москвы</li>
	<li>Стоимость наших услуг назвать высокой нельзя</li>
	<li>Занятия в школе танцев в Москве могут быть не только в группе, но и индивидуальными</li>
	<li>Каждый педагог набирает небольшую группу, состоящую из не более 15 человек</li>
	<li>Уютная атмосфера дает возможность крепко сдружиться, а значит лучше усваивать движения</li>
	<li>В конце каждого сезона в нашей школе проходит отчетный концерт</li>
</ul>
<h3>Аренда залов</h3>
<img class="center" src="../images/hall.jpg" alt="Dance">
<div>Услуга аренды также присутствует в нашем танцевальном рае. Ни одно учебное заведение подобного плана не отказывается сдавать помещения. Грамотные педагоги вам окажут поддержку. Ваше мероприятие пройдет на ура.</div>
</div>