#node-palette { 
  float: left; 
  width: 20%;
}
#demo-canvas { 
  margin-left: 22%; 
  border:solid;
  border-color: SkyBlue;
  height:600px;
}

p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
   }


.button_add_position, .button_add_transition, .saveButton {
	background-color: #66CC00;
	cursor: pointer;
	border: 1px solid #666600;
	border-radius: 0.5em;
	cursor: pointer;
	text-align: center;
}