.node { 
	background-color: #EEEEEF;
	border: 1px solid #346789;
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px #AAAAAA;
	color: black;
	height: 5em;
	position: relative;
	width: 5em;
}

.node:hover, .position:hover, .transition:hover { 
	box-shadow: 2px 2px 19px #AAAAAA;
	cursor: pointer;
}


.button_add, .button_add_window, .button_remove, .button{
	background-color: lightgray;
	text-align: center;
	border: 1px solid;
}

.input_field{
	background-color: lightgray;
	text-align: center;
	border: 1px solid;
	position: relative;
}

.button_container_transition {
	margin: 5px;
	background-color: #aaaaaa;
	text-align: center;
}

.button_container_position {
	margin: 10px 20px;
	background-color: #aaaaaa;
	text-align: center;
}

.position {
	background-color: #eeeeef;
	border: 2px solid green;
	border-radius: 100%;
	text-align: center;
	box-shadow: 2px 2px 5px #AAAAAA;
	color: black;
	height: 5em;
	position: absolute;
	width: 5em;
	cursor: move;
}

.jsplumb-drag {
    outline: 4px solid pink !important;
}

.transition {
	background-color: #eeeeef;
	border: 2px solid green;
	text-align: center;
	box-shadow: 2px 2px 5px #AAAAAA;
	color: black;
	height: 5em;
	position: absolute;
	width: 2em;
	cursor: move;
}
